name: Build Firmware
run-name: Build the firmware
on: [push]

jobs:
  build:
    name: Build ESPHome binary for bat-signal.yaml
    runs-on: ubuntu-latest
    outputs:
      esphome-version: latest
    steps:
      - uses: actions/checkout@v5
      - uses: esphome/build-action@v7.1.0
        id: esphome-build
        with:
          yaml-file: ./bat-signal.yaml
          version: latest
      - run: |
          mkdir output
          mv "${{ steps.esphome-build.outputs.name }}" output/
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.esphome-build.outputs.name }}
          path: output
