name: Release
run-name: Release version ${{ inputs.version }} of the firmware

on:
  # push:
  #   branches: [ "main" ]
  workflow_dispatch:
    inputs:
      name:
        description: Name of the firmware to publish.
        required: false
        type: string
        default: Bat-Signal
      version:
        description: Release version (eg. v2.5).
        required: true
        type: string
        default: v2.x

jobs:
  build:
    name: Build binary firmware
    runs-on: ubuntu-latest
    outputs:
      esphome-version: latest
    steps:
      - uses: actions/checkout@v5
      - uses: esphome/build-action@v7.1.0
        id: esphome-build
        with:
          yaml-file: ./bat-signal.yaml
          version: latest
      - run: |
          mkdir output
          mv "${{ steps.esphome-build.outputs.name }}" output/
      - uses: actions/upload-artifact@v6
        id: upload-build
        with:
          name: ${{ inputs.name }}
          path: output
  release:
    name: Create release ${{ inputs.version }} for firmware
    runs-on: ubuntu-latest
    needs: [build]
    permissions: write-all
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        id: download-release
        with:
          name: ${{ inputs.name }}
      - run: |
          zip -r "${{ inputs.name }}.zip" bat-signal-esp8266
      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ inputs.name }}"
          prerelease: false
          title: "Version ${{ inputs.version }}"
          files: |
            ./${{ inputs.name }}.zip
